@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header{
  &__inner{
    height: 100px; //

  }
}

.menu{
  &__btn {
    display: none;
  }
  &-list{
    &__item{
      
      &-link{
        &:hover {
        }
      }
    }
    &__item:last-child{
    }
  }
}

.phone{
  color: $white; //
  font-size: 18px; //
  line-height: 21px; //
  transition: all .5s; //
  padding-bottom: 5px; //
  border-bottom: 1px transparent solid; //
  &:hover {
    border-bottom: 1px $white solid; //
  }
}

.top {
  &-block{
    display: flex;
    justify-content: space-between;
    max-height: 800px;
    padding-bottom: 100px;
    &__content {  //  left block
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      align-items: center;
      text-align: center;
      padding: 141px 0;
      .title {
        max-width: 454px;
        font-family: 'Fira Sans',sans-serif;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-align: center;
        margin: 0 auto 23px;
      }
      .motive {
        max-width: 470px;
        font-size: 24px;
        line-height: 28px;
        margin: 0 auto 61px;
        // text-align: center;
      }
      .btn-application {
        &:hover{
          // см global
        }
      }

      .group {
        display: flex;
        justify-content: space-around;
        margin-top: 104px;
        width: 100%;

        &__item {
          border: 1px $brand solid;
          width: 150px;
          height: 150px;
          transition: all .5s;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          cursor: pointer;
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          // justify-content: space-around;
          // text-align: center;
          padding: 14px;
          &:hover{
            // cursor: pointer;
            transform: scale(1.25);
            // border: 1px $brand solid;

          }

          .group__item-icon {
            // margin: 18px auto 10px;
            margin: 0px auto 10px;

          }
          .group__item-text {
            // padding: 0 11px 14px 10px;
          }
        }
      }
    }

    &__choice { //  right block
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &-slider {
        position: relative;
        ul.slick-dots {
          position: absolute;
          right: 0px;
          // top: 224px;
          // вместо верхней строки позиционирования внизу две
          top:50%;
          transform: translateY(-75%);
          li{
            button{
            }
          }
          li.slick-active{
            button{
            }
          }
        }
        
        .slider {
          padding-top: 52px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &__img {
            // height: 450px;
          }
          &__description {
            display: flex;
            justify-content: space-between;
            margin: 0 auto 155px;
            font-family: 'Fira Sans', sans-serif;
            font-weight: 500;
            width: 303px;
            padding: 0 10px;
            &-price {
              margin-right: 12px;
            }
            
            &-property {
              margin-right: 12px;
            }
            
            &-odometer {}
          }
        }
      }
      
      &-use {
        .use{
          display: flex;
          justify-content: center;
          padding: 0 5px;
          &__rental {
            &-link {
              margin-right: 20px;
              cursor: pointer;
              border-bottom: solid transparent 1px;
              transition: all .5s; //
              padding-bottom: 5px;
              &:hover{
                border-bottom: solid $dark 1px;
              }
            }
          }   
          &__contract {
            &-link {
              border-bottom: solid $dark 1px;
              cursor: pointer;
              border-bottom: solid transparent 1px;
              transition: all .5s; //
              padding-bottom: 5px;
              &:hover {
                border-bottom: solid $dark 1px;
              }
            }
          }
        }
      }
    }
  }
}



.rent{
  width: 100%;
  padding: 100px 0;
  &-block{
    display: flex;
    width: 100%;

    &__div{
      &+&{
        padding-left: 50px;
      }
      flex-basis: 25%;
      .block{
        &__content{
          margin-bottom: 41px;
        }
        &__title{
          margin-bottom: 31px;
        }
        &__text{
          margin-bottom: 20px;
        }
      }
      .card{
        min-height: 350px;
        border: solid 1px $brand;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 29px 0;
        &__num{
          font-family: 'Fira Sans', sans-serif;
          font-weight: 500;
          font-size: 96px;
          line-height: 115px;
          margin: 0 auto;
          color: $dark;
          opacity: 0.05;
        }
        &__title{
          max-width: 174px;
          margin-bottom: 34px;
          min-height: 41px;
        }
        &__text{
        }
      }
    }
    &__div:nth-child(even){
      .card {
        &__text{
          padding: 0 10px 0;
        }
      }
    }
  }
}


.benefit{
  // width: 100%;
  padding: 100px 0;
  &-block {
    height: 450px;
    display: flex;
    justify-content: space-between;
    // width: 100%;
    .list{
      width: 300px;
      &__title{
        margin-bottom: 48px;
      }
      &__ul{
        text-align: right;
        &-li{
          margin-bottom: 27px;
          padding-right: 26px;
          margin-right: 17px;
          position: relative;
          text-transform: lowercase;
          span{
            text-transform: uppercase;
          }
        }
         &-li:nth-child(2),
         &-li:nth-child(6) {
           margin-right: 64px;
         }
         &-li:nth-child(3),
         &-li:nth-child(5) {
           margin-right: 116px;
         }
         &-li:nth-child(4) {
           margin-right: 162px;
         }


        &-li:after{
          position: absolute;
          right: 0;
          top:3px;
          content: " ";
          width: 16px;
          height: 16px;
          background-color: $dark;
          border-radius: 50%;
        }
      }
    }

    &__images{
      // align-items: center;
      padding-top: 50px;
    }
    &__content{
      text-align: right;
    }
    .content{
      text-align: right;
      padding-top: 92px;
      margin-bottom: 30px;
      width: 300px;
      &-text:first-child{
        margin-bottom: 30px;
      }
      &-text:last-child{
        margin-left: 33px;
      }

    }

    .video-popup{
      display: inline-block;
      margin-left: auto;
      text-transform: uppercase;
      text-align: center;
      width: 200px;
      color:$white;
      background-color: $accent;
      padding: 6px 34px 6px 64px;
      position: relative;
    }
    .video-popup::before{
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      background-image: url('../images/befor-play.svg');
      left: 34px;
      top: 12px;
    }
  }
}


.reviews {
  color: $white;
  background-color: $brand;
  padding: 100px 0;

  &-title {
    margin-bottom: 70px;
  }

  &-content {
    padding-bottom: 51px;

    ul.slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        button {
          background-color: $accent;
        }
      }
      li.slick-active {
        button {}
      }
    }

    &__card {
      border: 1px solid $accent;
      padding: 45px 30px;
      max-width: 270px;
      min-height: 300px;
      text-align: center;
      margin-right: 30px;
      margin-bottom: 35px;
      &-person{
        margin-bottom: 47px;
      }
    }
  }
}



.feedback{
  padding: 100px 0;
  .wrap{
    display: flex;
  }
  &-image{
    height: 450px;
    max-width:50%;
  }
  &-form{
    max-width:50%;
    padding: 74px 90px;
    display: flex;
    flex-direction: column;
    &__title{
      margin-bottom: 5px;
      padding-left: 5px;
    }
    &__text{
      margin-bottom: 30px;
      padding-left: 5px;
    }
    .form{
      input{
        width: 100%;
        height: 60px;
        border: none;
        border-bottom: 1px solid rgba(#000, .1);
        padding-left: 5px;
        &::placeholder{
          font-family: 'Roboto Condensed',
          sans-serif;
          font-weight: 400;
          color: $dark;
          font-size: 16px;
          line-height: 19px;
        }
      }

      &__name{}
      &__phone{
        margin-bottom: 50px;
      }
      &__btn{
        background-color: $accent;
        color: $white;
        padding: 16px 36px;
        cursor: pointer;
        border: transparent 1px solid;
        transition: all .5s;
        &:hover {
          background-color: $white;
          color: $accent;
          border: $accent 1px solid;
        }
      }
    }
  }
}
.footer {
  height: 200px; //
  &__inner {
    padding-top: 75px;
  }

  .social{
    &-ul{
      display: flex;
      justify-content: center;
      margin-top: 21px;
      &__li:nth-child(2){
          margin: 0px 30px;
      }
    }
    // &-ul{
    //   display: flex;
    //   width: 150px;
    //   margin: 21px auto;
    //   justify-content: space-between;
    //   &__li{
    //     &-link{
    //       &-img{
    //         width: 30px;
    //         height: 30px;
    //       }
    //     }
    //   }
    // }
  }
}






@import 'media';